#  Python strings

In [1]:
a = "Hello"
print(a)

Hello

##  **Accessing individual letters**

In [3]:


a = "Hello, World!"
print(a[1])

e

**Extracting a Substring from a String**

In [5]:
b = "Hello, World!"
print(b[2:5])

llo

# String ConcatenATION

In [6]:
a = "Hello"
b = "World"
c = a+""+b
print(c)

HelloWorld

# String Methods

**Returns true if the string contains only alphabetic letters or digits**

In [8]:
a.isalnum()

True

**Returns true if the string contains only alphabetic letters**

In [9]:
a.isalpha()

True

**Returns true if all of the alphabetic letters in the string are uppercase**

In [10]:
a.isupper()

False

**Returns true if the string contains only whitespace characters**

In [12]:
b.isspace()

False

**Returns a copy of the string with all leading whitespace characters removed.**

In [13]:
a.lstrip()

'Hello'

**Returns a copy of the string with all leading and trailing whitespace characters removed**

In [16]:
a.strip()

'Hello'

**Removing Leading Characters with lstrip()**

In [25]:
e = "Hello World"
e.lstrip("H")

'ello World'

**Removing Characters from Both Ends of a String**

In [27]:
e.strip("")

'Hello World'

**returns true ifthe string ends with substring**

In [28]:
e.endswith("World")

True

**## returns true ifthe string starts with substring**

In [29]:
e.startswith("World")

False

**returns thelowest index in the string where substring is found**

In [33]:
e.find("W")

6

**Returns a copy of the string with all leading whitespace characters removed.**

In [34]:
name_a="                      old is gold"
name_a.lstrip()

'old is gold'

**returns a copy of the string with all instances of old replaced by new**

In [39]:
f="peter is a prince"
f.replace("prince","king")

'peter is a king'

# Splitting a String

**returns a list containing the words inthe string**

In [41]:
my_list = 'one two three'
word_list = my_list.split()
word_list

['one', 'two', 'three']

In [43]:
my_list2 = '4/6/2024'
word_list2 = my_list2.split('/')
word_list2

['4', '6', '2024']

# String Tokens

**breaking a string into tokens**

In [44]:
address = "www.example.com"
tokens = address.split('.')
tokens

['www', 'example', 'com']

# Regular expressions

**String Matching Using Patterns**

In [53]:

import regex as re
def tokenize(text):
    return re.findall(r'a', text)
x = tokenize("abcd 45abc abc% abc.com acbrx .=.abc.=. ab c cba ABC ")
x

['acb']

# Groups and ranges

**Using Regular Expressions to Find Patterns**

In [51]:
## (a dot) matches any character except \n
import regex as re
def tokenize(text):
    return re.findall(r'.oo.y', text)
x = tokenize(" abcd gooey moody broody goofy gummy mooooudy loopy ooy ")
x

['gooey', 'moody', 'roody', 'goofy', 'loopy']

**Capturing Specific Patterns with Regular Expressions**

In [58]:
## Capturing the .

import regex as re
def tokenize(text):
    return re.findall(r'abc\.abc.com', text)
x = tokenize("abc.abc.com abc.abc,com abc,abc.com ABC.abc.com ")
x

['abc.abc.com', 'abc.abc,com']

**Matching Patterns at the Beginning of a Line**

In [59]:
##   Groups and ranges
##  matches the beginning of a line; $ the end

import regex as re
def tokenize(text):
    return re.findall(r'^The', text)
x = tokenize("Them ")
print(x)
y= tokenize("them")
print(y)

['The']
[]

**Capturing Groups in Regular Expressions**

In [60]:
##  Capture group ( )

import regex as re
def tokenize1(text):
    return re.findall(r'Homer Simpson|Marge Simpson', text)
def tokenize2(text):
    return re.findall(r'(Homer|Marge) Simpson', text)
x = tokenize1("Homer Williams Homer Simpson Marge Simpson")
print(x)
x = tokenize2("Homer Williams Homer Simpson Marge Simpson")
print(x)

['Homer Simpson', 'Marge Simpson']
['Homer', 'Marge']

**Finding Patterns with Zero or More Occurrences**

In [65]:
import regex as re
def tokenize(text):
    return re.findall(r'abc*', text)
x = tokenize("abcd ab abcccc acb abbbbc abcccccccc fabulous")
print(x)

['abc', 'ab', 'abcccc', 'ab', 'abcccccccc', 'ab']